@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 128.5714 7.2165% 19.0196%;
    --card: 0 0% 100%;
    --card-foreground: 8 31.25% 18.8235%;
    --popover: 0 0% 100%;
    --popover-foreground: 8 31.25% 18.8235%;
    --primary: 122.3684 43.6782% 34.1176%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124.6154 41.9355% 93.9216%;
    --secondary-foreground: 125 59.0164% 23.9216%;
    --muted: 0 0% 100%;
    --muted-foreground: 135 2.0619% 38.0392%;
    --accent: 122 39.4737% 85.098%;
    --accent-foreground: 125 59.0164% 23.9216%;
    --destructive: 1.1538 65% 47.0588%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 87.0588%;
    --input: 0 0% 100%;
    --ring: 122.3684 43.6782% 34.1176%;
    --chart-1: 121.8367 39.2% 49.0196%;
    --chart-2: 122.1951 40.1961% 40%;
    --chart-3: 122.3684 43.6782% 34.1176%;
    --chart-4: 125 59.0164% 23.9216%;
    --chart-5: 125.2174 56.0976% 8.0392%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 8 31.25% 18.8235%;
    --sidebar-primary: 122.3684 43.6782% 34.1176%;
    --sidebar-primary-foreground: 0 76% 49.0196%;
    --sidebar-accent: 122 39.4737% 85.098%;
    --sidebar-accent-foreground: 125 59.0164% 23.9216%;
    --sidebar-border: 93.0435 90.393% 55.098%;
    --sidebar-ring: 122.3684 43.6782% 34.1176%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Source Code Pro, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 1.5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.13;
    --shadow-color: oklch(0.274 0.072 132.109);
    --shadow-2xs: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.07);
    --shadow-xs: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.07);
    --shadow-sm: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.13),
      0px 1px 2px -1px hsl(88.9534 88.6179% 9.6115% / 0.13);
    --shadow: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.13),
      0px 1px 2px -1px hsl(88.9534 88.6179% 9.6115% / 0.13);
    --shadow-md: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.13),
      0px 2px 4px -1px hsl(88.9534 88.6179% 9.6115% / 0.13);
    --shadow-lg: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.13),
      0px 4px 6px -1px hsl(88.9534 88.6179% 9.6115% / 0.13);
    --shadow-xl: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.13),
      0px 8px 10px -1px hsl(88.9534 88.6179% 9.6115% / 0.13);
    --shadow-2xl: 0px 2px 1.5px 0px hsl(88.9534 88.6179% 9.6115% / 0.33);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 132 17.2414% 17.0588%;
    --foreground: 120 8.4112% 79.0196%;
    --card: 130.5882 15.0442% 22.1569%;
    --card-foreground: 120 6.8783% 62.9412%;
    --popover: 123.75 15.6863% 20%;
    --popover-foreground: 32.7273 26.8293% 91.9608%;
    --primary: 121.8367 39.2% 49.0196%;
    --primary-foreground: 125.2174 56.0976% 8.0392%;
    --secondary: 116 11.2782% 26.0784%;
    --secondary-foreground: 115 16.6667% 85.8824%;
    --muted: 125 14.6341% 16.0784%;
    --muted-foreground: 130 5.3571% 78.0392%;
    --accent: 122.1951 40.1961% 40%;
    --accent-foreground: 32.7273 26.8293% 91.9608%;
    --destructive: 1.1538 65% 47.0588%;
    --destructive-foreground: 0 0% 0%;
    --border: 116 11.2782% 26.0784%;
    --input: 116 11.2782% 26.0784%;
    --ring: 121.8367 39.2% 49.0196%;
    --chart-1: 123.3803 39.6648% 64.902%;
    --chart-2: 122.8916 37.8995% 57.0588%;
    --chart-3: 121.8367 39.2% 49.0196%;
    --chart-4: 122.6667 39.1304% 45.098%;
    --chart-5: 122.1951 40.1961% 40%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 32.7273 26.8293% 91.9608%;
    --sidebar-primary: 121.8367 39.2% 49.0196%;
    --sidebar-primary-foreground: 125.2174 56.0976% 8.0392%;
    --sidebar-accent: 122.1951 40.1961% 40%;
    --sidebar-accent-foreground: 32.7273 26.8293% 91.9608%;
    --sidebar-border: 116 11.2782% 26.0784%;
    --sidebar-ring: 121.8367 39.2% 49.0196%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 1.5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.13;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.07);
    --shadow-xs: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.07);
    --shadow-sm: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.13),
      0px 1px 2px -1px hsl(0 0% 10.1961% / 0.13);
    --shadow: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.13),
      0px 1px 2px -1px hsl(0 0% 10.1961% / 0.13);
    --shadow-md: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.13),
      0px 2px 4px -1px hsl(0 0% 10.1961% / 0.13);
    --shadow-lg: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.13),
      0px 4px 6px -1px hsl(0 0% 10.1961% / 0.13);
    --shadow-xl: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.13),
      0px 8px 10px -1px hsl(0 0% 10.1961% / 0.13);
    --shadow-2xl: 0px 2px 1.5px 0px hsl(0 0% 10.1961% / 0.33);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
