@import "bootstrap/scss/bootstrap.scss";
@import "react-modal-video/scss/modal-video.scss";

@import "./_abstracts/_variables";
@import "./_abstracts/_maxin";

// shadcn/ui Design System
@import "./config/_shadcn-variables";
@import "./config/_shadcn-mixins";

@import "./_base/_typography";
@import "./_base/_button";

@import "./_components/_header";
@import "./_components/_banner";
@import "./_components/_banner2";
@import "./_components/_about";
@import "./_components/_services";
@import "./_components/_spaces";
@import "./_components/_projects";
@import "./_components/_testimonial";
@import "./_components/_blogs";
@import "./_components/_footer";
@import "./_components/_mentions-legales";
@import "./_components/_cgu";
@import "./_components/_confidentialite";
@import "./_components/scan";
@import "./_components/promo";
@import "./_components/_members-program";
@import "./_components/_student-offers";
@import "./_components/_history";
@import "./_components/_take-away";
@import "./_components/_manifest";

@import "./_components/_pageHeader";
@import "./_components/_concept";
@import "./_components/_project_details";
@import "./_components/blog_details";
@import "./_components/_contact";
@import "./_components/_faq";
@import "./_components/_pricing";
@import "./_components/_menu";
@import "./_components/_booking";
