.service__details {
  max-width: 1096px;
  margin: auto;
}
.mt__20 {
  margin-top: 20px;
}
.mt__40 {
  margin-top: 30px;
}

.second__para {
  .row {
    gap: 40px;
  }
}

.all__project .projects__2_card {
  margin-bottom: 0;
}
