// Import responsive mixins (mobile-first)
@import "../_abstracts/responsive";

.container p {
  font-size: 18px;
}

.member__card {
  min-height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .icon {
    font-size: 50px;
  }
  .t__28 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  span {
    color: var(--btn-clr);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    span {
      color: black;
    }
  }
}

.mantra {
  font-size: 20px !important;
  font-weight: 600;
  font-style: italic;
  margin-top: 40px;
  color: black;
  line-height: 30px;
}

.mb__15 {
  margin-bottom: 15px !important;
}

.members {
  background-color: var(--main-clr);
  padding-bottom: 0px;

  &__title {
    .title {
      max-width: 555px;
    }
    .common__btn {
      background-color: var(--btn-clr);
      color: var(--secondary-clr);
    }
  }

  &__wapper {
    &_list {
      margin-top: 36px;
      div {
        @include justify();
        color: var(--grayWhite-clr);
        // Mobile-first: column layout (mobile)
        flex-direction: column;
        align-items: start;
        gap: 15px;
        padding: 40px 0;
        border-bottom: 1px solid #e3ece71f;

        @include respond-above(md) {
          flex-direction: row;
          align-items: center;
          gap: 30px;
          padding: 54px 0;
        }

        &:last-child {
          padding: 0px;
          padding-top: 54px;
          border-bottom: none;
        }

        .member__name {
          @include flex();
          gap: 4px;
          max-width: 515px;
          width: 100%;
          // Mobile-first: base font-size (mobile)
          font-size: 25px;
          font-weight: 600;
          transition: all 0.5s ease-in-out;

          @include respond-above(md) {
            font-size: 30px;
          }
          @include respond-above(xl) {
            font-size: 42px;
          }

          sup {
            font-size: 16px;
            font-weight: 600;
            margin-top: -10px;
            display: block;
            color: var(--btn-clr);
          }
        }
        .describe {
          max-width: 501px;
          color: var(--grayWhite-clr);
        }
        .icon {
          // Mobile-first: base size (mobile)
          min-width: 56px;
          min-height: 56px;
          border-radius: 50%;
          border: 1px solid var(--btn-clr);
          @include center();
          transition: all 0.5s ease-in-out;

          @include respond-above(lg) {
            min-width: 66px;
            min-height: 66px;
          }

          .black {
            display: none;
          }
        }
        &:hover {
          .member__name {
            color: var(--btn-clr);
          }
          .icon {
            background-color: var(--btn-clr);
            .black {
              display: block;
            }
            .yellow {
              display: none;
            }
          }
        }
      }
    }
  }

  .member__card {
    // Mobile-first: base padding (mobile)
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;

    @include respond-above(md) {
      padding: 40px;
    }

    .fa-arrow-right {
      transform: rotate(-45deg);
      font-size: 18px;
      margin-left: 4px;
    }
    &:hover {
      background-color: var(--btn-clr);
      p {
        color: var(--secondary-clr);
      }
      a {
        color: var(--secondary-clr);
      }
      .up__icon {
        filter: brightness(70%) contrast(150%) saturate(0%);
      }
    }
    h3 {
      color: var(--secondary-clr);
      // Mobile-first: base margin (mobile)
      margin-top: 20px;
      display: block;

      @include respond-above(sm) {
        margin-top: 30px;
      }
    }
    p {
      transition: all 0.5s;
      color: #6e6f75;
      // Mobile-first: base margins (mobile)
      margin-top: 20px;
      margin-bottom: 34px;

      @include respond-above(sm) {
        margin-top: 30px;
        margin-bottom: 46px;
      }
    }
    a {
      transition: all 0.5s;
      color: var(--main-clr);
      font-weight: 600;
    }
    .black {
      display: none;
    }
  }

  .counter {
    // Mobile-first: base padding (mobile)
    padding: 20px;
    background-color: #588983;
    border-radius: 10px;
    width: 100%;
    transform: translateY(40%);
    display: flex;
    justify-content: space-between;

    @include respond-above(md) {
      padding: 40px;
      transform: translateY(40%);
    }
    @include respond-above(lg) {
      flex-wrap: wrap;
      padding: 50px;
      transform: translateY(50%);
    }
    @include respond-above(xl) {
      flex-wrap: nowrap;
      padding: 70px;
    }

    &__box {
      margin-bottom: 25px;
      @include respond-above(lg) {
        width: 50%;
      }
      @include respond-above(xl) {
        width: auto;
      }
      &:hover {
        .counter__number {
          color: var(--btn-clr);
          -webkit-text-stroke-color: var(--btn-clr);
        }
      }
    }
    &__number {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--grayWhite-clr);
      color: transparent;
      font-weight: 700;
      // Mobile-first: base font-size (mobile)
      font-size: 40px;
      line-height: 55px;
      margin-bottom: 0px;
      transition: all 0.5s;

      @include respond-above(lg) {
        margin-bottom: 5px;
      }
      @include respond-above(xl) {
        font-size: 60px;
        line-height: 90px;
        margin-bottom: 28px;
      }
      @include respond-above(xxl) {
        font-size: 80px;
      }
    }
    &__text {
      color: var(--grayWhite-clr);
    }
  }
}

.member__details {
  ul {
    padding-left: 20px;
    margin: 20px 0;
    li {
      color: black;
      margin-bottom: 10px;
    }
  }
}

.mt__30 {
  margin-top: 30px !important;
}

// ---------------- members_2 for home page 2 and it exteds home page one member code
.members__2 {
  // Mobile-first: base padding (mobile)
  padding-bottom: 240px;

  @include respond-above(lg) {
    padding-bottom: 320px;
  }
  @include respond-above(xl) {
    padding-bottom: 266px;
  }

  &_title {
    p {
      max-width: 536px;
    }
  }
  &_wapper {
    margin-top: 60px;

    .members__2_card {
      background-color: #588983;
      h3 {
        color: var(--grayWhite-clr);
        transition: all 0.5s;
      }
      p {
        color: var(--grayWhite-clr);
      }
      a {
        color: var(--btn-clr);
      }
      &:hover {
        h3 {
          color: var(--secondary-clr);
        }
      }
    }
    .two {
      // Mobile-first: no transform (mobile)
      transform: translateY(0px);
      @include respond-above(xl) {
        transform: translateY(50px);
      }
    }
    .three {
      // Mobile-first: no transform (mobile)
      transform: translateY(0px);
      @include respond-above(xl) {
        transform: translateY(100px);
      }
    }
    .video {
      // Mobile-first: base transform (mobile)
      transform: translateY(90px);
      @include respond-above(md) {
        transform: translateY(90px);
      }
      @include respond-above(lg) {
        transform: translateY(100px);
      }
      @include respond-above(xl) {
        transform: translateY(15%);
      }
    }
  }

  &_row {
    // Mobile-first: base margin (mobile)
    margin-top: 0px;

    @include respond-above(md) {
      margin-top: 0px;
    }
    @include respond-above(xl) {
      margin-top: 30px;
    }
    @include respond-above(xxl) {
      margin-top: 89px;
    }

    p {
      color: var(--grayWhite-clr);
    }
    a {
      color: var(--btn-clr);
      font-weight: 700;
    }
  }
}

.all__members {
  background-color: transparent;
  margin-bottom: 181px;
  padding-bottom: 130px;
}

.auth-btn {
  background-color: var(--btn-clr);
  color: var(--secondary-clr);

  border: none;
  border-radius: 10px;
  padding: 0.875rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: darken(#f2d381, 10%);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(242, 211, 129, 0.3);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
  }

  .spinner-border {
    width: 1rem;
    height: 1rem;
  }
}

.mt__50 {
  margin-top: 50px !important;
}

.py__90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.counter {
  // Mobile-first: base padding (mobile)
  padding: 20px;
  background-color: #588983;
  border-radius: 10px;
  width: 100%;
  transform: translateY(40%);
  display: flex;
  justify-content: space-between;

  @include respond-above(md) {
    padding: 40px;
    transform: translateY(40%);
  }
  @include respond-above(lg) {
    flex-wrap: wrap;
    padding: 50px;
    transform: translateY(50%);
  }
  @include respond-above(xl) {
    flex-wrap: nowrap;
    padding: 70px;
  }

  &__box {
    margin-bottom: 25px;
    @include respond-above(lg) {
      width: 50%;
    }
    @include respond-above(xl) {
      width: auto;
    }
    &:hover {
      .counter__number {
        color: var(--btn-clr);
        -webkit-text-stroke-color: var(--btn-clr);
      }
    }
  }
  &__number {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--grayWhite-clr);
    color: transparent;
    font-weight: 700;
    // Mobile-first: base font-size (mobile)
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 0px;
    transition: all 0.5s;

    @include respond-above(lg) {
      margin-bottom: 5px;
    }
    @include respond-above(xl) {
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 28px;
    }
    @include respond-above(xxl) {
      font-size: 50px;
    }
  }

  &__text {
    color: var(--grayWhite-clr);
  }
}
