.pricing {
  margin-bottom: 181px;

  &__title {
    // margin-bottom: 10px;
    font-family: var(--font-kanit), "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    display: inline-block;
    border-bottom: 3px solid var(--btn-clr);
  }

  &__band {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 1px 1px 1px;
    background-color: var(--main-clr);
    border-radius: 10px;
    color: white;
    transition: all 0.5s;

    h3 {
      padding: 5px 0;
    }
    &:hover {
      background-color: white;
      color: var(--main-clr);
      border: solid 0px var(--main-clr);
    }
  }
  h6 .email {
    color: var(--main-clr);
    font-weight: 600;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    padding: 35px;
    transition: all 0.5s;
    height: 680px;

    @include breakpoint(xxl) {
      height: 610px !important;
      padding: 18px !important;
    }

    @include breakpoint(xl) {
      width: 100% !important;
      padding: 40px !important;
    }

    p {
      color: var(--main-clr);
      font-weight: 600;
      font-style: italic;
    }

    &_title {
      h1 {
        color: var(--main-clr);
        font-weight: 700;
        transition: all 0.5s;
        @include breakpoint(xl) {
          font-size: 54px;
        }
      }

      h6 {
        color: var(--secondary-clr);
        transition: all 0.5s;
        margin-bottom: 5px;
        @include breakpoint(md) {
          margin-bottom: 8px;
        }
      }

      p {
        color: #6e6f75;
        transition: all 0.5s;
        margin-top: 5px;
        font-weight: 500;
        font-style: normal;
      }
      sup {
        font-size: 8px;
        margin-top: 8px;
        transition: all 0.5s;
      }
    }

    .border__full {
      margin: 30px 0;
      width: 100%;
      height: 1px;
      display: block;
      background-color: var(--main-clr);
    }

    ul {
      height: 392px;
      li {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 18px;

        span {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          transition: all 0.5s;
          background-color: var(--main-clr);
          display: block;
        }

        p {
          max-width: 215px;
          color: #6e6f75;
          transition: all 0.5s;
          font-weight: 500;
          font-style: normal;
          @include breakpoint(xxl) {
            font-size: 12px;
            line-height: 20px;
          }
          @include breakpoint(xl) {
            font-size: 1rem;
            line-height: 26px;
          }
        }
      }
    }

    .common__btn {
      background-color: var(--btn-clr);
      color: var(--secondary-clr);
      margin-top: 15px;
    }

    &:hover {
      background-color: var(--main-clr);

      p {
        color: var(--grayWhite-clr);
      }
      .pricing__card_title {
        h1 {
          color: var(--btn-clr);
        }
        sup {
          color: var(--btn-clr);
        }

        h6 {
          color: var(--grayWhite-clr);
        }

        p {
          color: var(--grayWhite-clr);
        }
      }

      ul {
        li {
          span {
            background-color: #e3ece740;
          }

          p {
            color: var(--grayWhite-clr);
          }
        }
      }

      .border__full {
        background-color: var(--grayWhite-clr);
      }
    }
  }

  .pricing__band sup {
    color: var(--main-clr);
  }

  .partner {
    padding: 0;
    margin-top: 130px;
  }
}
