:root {
  --body-clr: #142220;
  --main-clr: #417972;
  --btn-clr: #f2d381;
  --primary-clr: #ffffff;
  --secondary-clr: #1a1a1a;
  --grayBlack-clr: #051f0d;
  --gry-clr: #6e6f75;
  --grayWhite-clr: #e3ece7;
  --pra-clr: #e3ece7ab;
}
